:root{
    --player-profile: 8vw;
    --player-turn-sign: calc(1.4*var(--player-profile));
    --board-width: 360px;
    --board-height: 540px;
    --main-background: linear-gradient(180deg, #161F38 0%, #223054 100%);
    --side-background: linear-gradient(180deg, #414a644d 0%, #414A64 100%);
    --text-colour: #ffffff;
    --board-line: #ffffff4d;
    --player-a-colour: #C23B3B;
    --player-a-current: #c23b3b9a;
    --player-b-colour: #71DBEA;
    --player-b-current: #71DBEA9a;
    
    /* to be changed */
    --how-to-background: #1b1d38;
    --result-background: #1b1d38cf; 
}

@font-face {
    font-family: 'GMarket Sans';
    src: url();
}

html{
    height: 100%;
    background: var(--main-background);
    color: var(--text-colour);
    font-family: 'GMarket Sans';
    min-width: 650px;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px;
    justify-items: center;
    align-items: center;
    padding: 10px 10px 30px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: top;
    margin: 5px;
}

#title{
    font-size:30px;
    font-family:'GMarket Sans';
    position:relative;
    color:#8fbbbc;
    text-align:center;
}

.top_nav{
    background: none;
    color: var(--text-colour);
    font-family: 'GMarket Sans';
    font-size: 15px;
    border: 0px;
}

#game_board{
    position: relative;
    width: var(--board-width);
    height: var(--board-height);
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(10, 1fr);
    place-items: center;
    border-radius: 10px;
    border: 2px solid var(--board-line);
    background-image: url("assets/background-grid.png");
    background-size: cover;
    background-position: center;
}

#line_canvas{
    position: absolute;
    width: var(--board-width);
    height: var(--board-height);
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(10, 1fr);
    place-items: center;
    border: 2px solid transparent;
}

.grid{
    width: 36px;
    height: 36px;
    background: transparent;
}

.selectable:hover{
    background: var(--board-line);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
} 

.sidebar{
    width: 80%;
    height: 450px;
    border-radius: 20px;
    background: var(--side-background);
    color: var(--text-colour);
}

.player{
    font-family: 'GMarket Sans';
    font-size: 18px;
    text-align: center;
    padding: 50px 0px;
}

/* .game_info{
    font-family: 'GMarket Sans';
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 20px 0px;
} */

#a_profile{
    width: var(--player-profile);
    height: var(--player-profile);
    border-radius: 50%;
    background-image: url("assets/a-profile-fire.png");
    background-size: cover;
    position: relative;
    left: calc(50% - (var(--player-profile)/2));
    margin-top: 40px;
}

#a_turn{
    width: var(--player-turn-sign);
    height: var(--player-turn-sign);
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    left: calc(50% - (var(--player-turn-sign)/2));
    top: calc((var(--player-profile) - var(--player-turn-sign))/2);
    border: 1vw solid var(--player-a-colour);
    filter: drop-shadow(0px 0px 7px #ff5c5ca0);
    display: none;
}

#a_ready{
    font-family: 'GMarket Sans';
    font-size: 18px;
    position: relative;
    text-align: center;
    padding: 80px 0px 0px;
}

#b_profile{
    width: var(--player-profile);
    height: var(--player-profile);
    border-radius: 50%;
    background-image: url("assets/b-profile-water.png");
    background-size: cover;
    position: relative;
    left: calc(50% - (var(--player-profile)/2));
    margin-top: 40px;
}

#b_turn{
    width: var(--player-turn-sign);
    height: var(--player-turn-sign);
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    left: calc(50% - (var(--player-turn-sign)/2));
    top: calc((var(--player-profile) - var(--player-turn-sign))/2);
    border: 1vw solid var(--player-b-colour);
    filter: drop-shadow(0px 0px 7px #82f0ff90);
    display: none;
}

#b_ready{
    font-family: 'GMarket Sans';
    font-size: 18px;
    position: relative;
    text-align: center;
    padding: 80px 0px 0px;
}

.a_token{
    background: var(--player-a-current);
    border: 4px solid var(--player-a-colour);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    left: calc(50% - calc(25px/2));
    top: calc(50% - calc(25px/2));
    box-sizing: border-box;
}

.b_token{
    background: var(--player-b-current);
    border: 4px solid var(--player-b-colour);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    left: calc(50% - calc(25px/2));
    top: calc(50% - calc(25px/2));
    box-sizing: border-box;
}

.v_line{
    width: 4px;
    height: 15px;
    z-index: 1;
}

.h_line{
    width: 15px;
    height: 4px;
    z-index: 1;
}